@import 'ben.scss';


$color-1: #3CCCB3; // F84525 rgba(85, 139, 255, 1) #48ffc4
$color-2: #00577B; // 48ffc4 rgba(255, 51, 31, 1)
$color-4: #0097D5;
$color-5: #727272;
$color-3: #3F4040;
$mycolors: $color-1,
$color-2,
$color-3,
$color-4;

$family-primary: 'Poppins', sans-serif;
$family-secondary: 'Lato', sans-serif;
@mixin fullheight($min) {
    
  @if $min == true {
      min-height: calc(var(--vh, 1vh) * 100 - 110px);
  }
  @else {
      height: calc(var(--vh, 1vh) * 100 - 110px);
  }
}
@mixin font-primary() {
  font-family: $family-primary;
}
@mixin font-secondary() {
  font-family: $family-secondary;
  letter-spacing: 1px;
}
body {
    @include font-primary();
  //  font-weight: 400;
    font-weight: 300;
    color: $color-3;
    overflow-x: hidden;
    width: 100%;
    @include touch {
      .container {
        padding-left: 5px !important;
        padding-right: 5px;
      }
    }
}
#index_header {
  width: 100%;
  background: url('../images/buildings.jpg');
  background-size: auto 100%;
  background-attachment: fixed;
  @include desktop {
    background-size: 100% auto;
  }
}
.nav {
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0);
    padding: 0 30px 0 30px;
    width: 100%;
    display: table;
    z-index: 999;
    @include tablet {
      height: 90px;
    //  background-color: #f6f6f6;
     // background-size: 80%;b
  //   background-color: rgba(246,246,246,0.85);
    // background-color: #e4e4e4;
   //  background: linear-gradient(to right, rgba(255,255,255,0),  #e4e4e4 30%);
     position: fixed;
    }
    
    &-left {
      display: table-cell;
      width: 90%;
      vertical-align: middle;
      @include desktop {
        width: 35%;
      }
        &_logo {
        //  display: inline-block;
          img {
          height: 40px;
          
          @include tablet {
            height: 40px;
          }
        }
      }
    }
    &-right {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      >.columns {
        margin-bottom: 0;
        margin-top: 0;
      }
      a {
        color: black;
        text-decoration: none;
        font-weight: 400;
        &:hover {
          color: black;
        }
      }
    //  float: right;
      &_phone {
        position: relative;
        
        a {
          font-weight: 600;
          color: $color-1;
          &:hover {
            color: rgb(66, 210, 185);
          }
        }
        &:before {
          content: '';
          width: 70px;
          height: 2px;
          background-color: $color-1;
          position: absolute;
          left: -50%;
          top: 50%;
          transform: translate(50%, -50%);
        }
      }
      &_menu {
        
      }
    }

}

body {
  div:nth-child(odd) {
 //   background-color: rgba(255,0,0,0.05);
   // border: 1px solid red;
  }
  div:nth-child(even) {
  //  background-color: rgba(0,255,0, 0.05);
    //border: 1px solid green;
  }
}


.squares {
  div {
    position: absolute;
    height: 0;
    width: 0;
    left: 0;
  //  z-index: -1;
  }
  .left_square {
    border-top: 0 solid transparent;
    border-bottom: 100vh solid #efefef;
    border-right: 100vw solid transparent;
  //  transform: rotate(90deg);
  //  transform-origin: top left;
  //  opacity: 0.1;
//     z-index: 2;
    }
    .right_square {
    border-top: 100vh solid #e4e4e4;
    border-bottom: 0 transparent;
    border-right: 60vw solid transparent;
  //  transform: rotate(90deg);
  //  transform-origin: top right;
    //  z-index: -1;
    }
  .helper_square {
    width: 100vw;
    height: 90px;
    opacity: 0.8;
    background-color: #e4e4e4;
  }
}

.main {
  position: relative;
  text-align: center;
  height: 100vh;
  padding-top: 80px;
 
  .container {
    height: calc(80vh - 60px);
    @include desktop{
      height: 100%;
    }
  }
  @include tablet {
    text-align: left;
    padding-left: 20px;
  }
.intro {
  // text-align: center;

   &-article {
     width: 100%;
     margin-top: 50px;
     
     padding: 10px;
     @include tablet {
       width: calc(80vw - 20px);
     }
     @include desktop {
       width: 500px;
     }
     article {
       width: 100%;
       background-color: rgba(255,255,255,0.6);
       padding: 15px;
      // text-align: center;
      @include desktop {
        background-color: transparent;
      }
      .article-title {
        h2 {
          font-size: 1.4rem;
          @include desktop{
            font-size: 2.5rem;
          }
        }
      }
      .article-content {
        @include tablet {
          margin-top: 10px;
        }
      }
      .article-link {
        margin-top: 5px;
        @include tablet {
          margin-top: 15px;
        }
        a {
          color: $color-2;
          font-weight: 500;
        }
      }
     }
   }
 }
 .banner {
   position: absolute;
   bottom: 0;
   pointer-events: none;
  left: 0;
  width: 100%;
   img {
     width: 80vw;
     display: block;
     left: 50%;
     transform: translateX(-50%);
     position: relative;
     @include touch {
      max-width: 400px;
     }
   }
   @include desktop {
     left: auto;
     //right: 0;
      img {
        width: 50vw;
      //  left: auto;
        transform: none;
        right: 0;
        max-width: 800px;
      }
   }
 }

 @include desktop {
   .main_table {
     display: table;
     width: 100%;
     height: 100%;
     >div {
       display: table-cell;
       width: 50%;
       position: relative;
     }
   }
 }
}

.about {
  margin-top: 30px;
  height: 600px;
  &-image {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin: 0 auto;
  }
  &-title {
    position: relative;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    margin-top: 15px;
    span {
      font-weight: 700;
      color: $color-2;
    }
      &:before {
        content: '';
        display: inline-block;
        position: relative;
        left: 0;
        top: -11px;
        width: 100px;
        margin-right: 15px;
        height: 2px;
        background-color: $color-2;
      }
    
  }
  &-paragraph {
    margin-top: 8px;
  }
  @include tablet {
    display: table;
    width: 100%;
    .container {
      >div {
        display: table-cell;
        width: 60%;
        position: relative;
      }
      .about-leftside {
        width: 40%;
      }
    }
  }
  &-rightside {
    position: relative;
  }
  &-keynav {
    @include tablet {
      display: none;
    }
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      &:first-child {

      }
      &:last-child {
        right: 0;
      }
    }
  }
  &-keypoints {
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: 30px;
    @include tablet {
      overflow-x: hidden;
      white-space: normal;
      margin-top: 0;
      position: absolute;
      right: 20px;
      top: 70px;
    }
    .keypoint {
      display: inline-block;
      //white-space: nowrap;
      white-space: normal;
      @include tablet {
        display: table;
        &:nth-child(even) {
          padding-left: 40px;
        }
        &:not(:first-child) {
          margin-top: 30px;
        }
      }
      @include desktop {
        &:nth-child(even) {
          padding-left: 90px;
        }
      }
      >div {
        vertical-align: middle;
        display: table-cell;
      }
      &-image {
        width: 80px;
        padding-right: 10px;
      }
      &-text {
        max-width: 480px;
        padding-left: 15px;
        h2 {
          color: $color-1;
          font-weight: 600;
          font-size: 1.1rem;
        }
      }
    }
  }
}

.blogslider {
  @include touch {
    display: none;
  }
  width: 95vw;
  height: 280px;
 // margin-top: 15px;
  //border: 1px solid gray;
  box-shadow: 0 3px 16px rgba(0,0,0,0.13);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //margin: 15px auto;
  max-width: 450px;
  padding: 10px;
  background-color: white;
  overflow: hidden;
  @include tablet {
    height: 320px;
  }
  @include desktop {
    height: 370px;
    max-width: 600px;
   // top: -100px;
  }
  &-stripe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: table;
    height: 5px;
    div:first-child {
      background-color: $color-2;
      display: table-cell;
      width: 80%;
    }
    div:last-child {
      background-color: $color-1;
      display: table-cell;
      
    }
  }
  &-bigtitle {
    font-size: 1.5rem;
    color: $color-1;
    font-weight: 700;
    @include desktop {
      font-size: 2rem;
    }
  }
  article {
    .article-title {
      margin-top: 15px;
      h2 {
        font-size: 1.1rem;
        font-weight: 600;
        @include desktop {
          font-size: 1.5rem;
        }
      }
    }
    .article-paragraph {
      margin-top: 10px;
      @include desktop {
        font-size: 1.1rem;
        line-height: 1.7rem;
      }
    }
  }
  &-triangles {
    div:last-child {
      position: absolute;
      z-index: 0;
      bottom: 0;
      left: 0;
      height: 0;
      width: 0px;
      border-width: 0 0 100px 600px;
      border-color: transparent transparent #F0F0F0 transparent;
      border-style: solid;
     // background-color: black;
    }
    div:first-child {
      position: absolute;
      z-index: 0;
      bottom: 0;
      left: 0;
      height: 0;
      width: 0px;
      border-width: 0 0 140px 600px;
      border-color: transparent transparent #F6F6F6 transparent;
      border-style: solid;
     // background-color: black;
    }
  }
  &-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    >div {
      display: inline-block;
    }
    .navigation {
      font-size: 0.9rem;
      font-weight: 600;
      margin-left: 10px;
      label {
        display: table-cell;
        color: $color-2;
        &:not(:first-child) {
          padding-left: 15px;
        }
        &:after {
          content: '';
          margin-top: 10px;
          display: block;
          transition: width 0.3s ease;
          width: 0;
          height: 3px;
          background-color: $color-2;
          bottom: 0;
          left: 0;
        }
        &.active:after {
          width: 100%;
        }
      }
    }
    .buttons {
      height: 60px;
      div {
        height: 60px;
        width: 60px;
        background-color: $color-2;
        display: inline-block;
        
        i {
          display: table;
          font-size: 1.4rem;
          margin: 20px auto;
          color: white;
        }
      }
      .right {
        background-color: #00425D;
      }
    }
    .btn.readmore {
      float: right;
      margin-top: 10px;
      padding-top: 5px;
      margin-right: 10px;
      
    }
  }
}
.btn {
  height: 35px;
  width: 110px;
  background-color: $color-1;
  color: white;
  font-weight: 500;
  text-align: center;
  
}

.services {
  margin-top: 120px;
  padding-left: 15px;
  padding-right: 15px;
  .title {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    span {
      color: $color-2;
      position: relative;
      &:after {
        position: absolute;
        display: block;
        content: '';
        width: 60px;
        height: 3px;
        background-color: $color-2;
        right: 0;
        bottom: -10px;
      }
    }
  }
  .service {
    position: relative;
    &:not(:first-child) {
      margin-top: 80px;
    }

    &-image {
      width: 240px;
      position: relative;
      img {
        width: 100%;
      }
      .service-square {
        position: absolute;
        top: -15px;
        right: -35px;
        width: 70px;
        height: 80%;
        z-index: -1;
        background-color: #eee;
      }
    }
    &-title {
      position: absolute;
      transform: translateY(-40px);
      right: 0;
      h2 {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
          height: 1px;
          background-color: $color-2;
        }
        position: relative;
        padding-left: 50px;
        font-size: 1.4rem;
        color: $color-2;
        font-weight: 600;
      }
    }
    &-content {
      color: $color-5;
      margin-top: 8px;
    }
    &-link {
      margin-top: 8px;
      a{
        color: $color-2;
        text-decoration: none;
        font-weight: 500;
      }
    }
    &.right {
      .service-image {
       // height: 180px;
        margin-left: auto;
        img {
         // width: 240px;
        }
        .service-square {
          top: auto;
          right: auto;
          left: -35px;
          bottom: -20px;
        }
      }
      .service-title {
        right: auto;
        left: 0;
        
        h2 {
          padding-right: 50px;
          padding-left: 0;
          &:before {
            left: auto;
            right: 0;
          }
     /*     padding-left: 0;
          padding-right: 50px;
          &:before {
            left: auto;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: $color-2;
          }*/
        }
      }
    }

  }


  @include tablet { // .service
    .service {
      width: 500px;
      &.right {
        margin-left: auto;
        .service-title {
      //    padding-left: 40px;
        }
      }
      &.left {
        .service-title {
          padding-right: 40px;
        }
      }
      .service-image {
        width: 300px;
      }
    }
  }
  @include desktop {
    padding-left: 0;
    padding-right: 0;
    .service {
    //  min-height: 500px;
      &:not(:first-child) {
        margin-top: 120px;
      }
      width: 100%;
      &-image {
        width: 500px !important;
        &.smaller {
    //      width: 490px !important;
        }
      }
      &-title {
        transform: none;
        top: 50px;
        h2 {
          font-size: 1.9rem;
          padding-left: 120px;
          &:before {
            width: 90px;
          }
        }
      }
      &-wrapper {
        position: absolute;
        top: 130px;
        
        max-width: 500px;
      }
      &.left {
        .service-image {
          left: 80px;
        }
        .service-title {
          left: 550px;
        }
        .service-wrapper {
          left: 673px;
        }
      }
      &.right {
        .service-image {
          right: 80px;
        }
        .service-title {
          left: auto;
          right: 550px;
          h2 {
            padding-left: 0;
            padding-right: 120px;
          }
        }
        .service-wrapper {
          left: auto;
          right: 673px;
          direction: rtl;
        }
      }
    }
}

}
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:700&display=swap');
.quote {
  margin-top: 120px;
  position: relative;
  @include tablet {
    margin-top: 150px;
  }
  .container {
    max-width: 90vw;
    @include desktop {
      max-width: 1000px;
    }
    
  }
  .commas {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    transform: translate(-15px, -100px);
   // transform: rotate(-10deg);
    z-index: -1;
    font-size: 220px;
    font-weight: 700;
    color: rgba(60, 204, 180, 0.266);
    font-family: 'Be Vietnam', sans-serif;

    @include desktop {
      transform: translate(-20px, -170px);
      font-size: 310px;
    }
    @include fullhd {
      transform: translate(-70px, -170px);
    }
  }
  h3 {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
    @include desktop {
      font-size: 2.1rem;
      text-align: left;
    }
  }
  .quote-profile {
    margin-top: 30px;
    @include touch {
      position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    }
    >* {
      display: inline-block;
      vertical-align: middle;
    }
    img {
      height: 55px;
    }
    .quote-profile-desc {
      
      margin-left: 20px;
      h4 {
        font-weight: 500;
        font-size: 1.1rem;
      }
      label {
        font-size: 0.9rem;
        font-weight: 300;
      }
    }
  }
}

.geo {
  margin-top: 150px;
  .map {
    height: 300px;
    
    width: 100%;
    background-image: linear-gradient(to bottom, #fff, rgba(255,255,255,0) 20%), url('/images/map.png');
    background-size: cover;
    background-position: 55% 40%;
    @include tablet {
      height: 400px;
    background-position: 50% 40%;
    }
  }

  .map-overlay {
    position: relative;
    top: -70px;
    width: 90vw;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    .map-effect {
      position: absolute;
      height: 100px;
      width: 100px;
      left: -7px;
      top: -7px;
      z-index: -1;
      background-color: $color-1;
    }
    .content {
      background-color: white;
      box-shadow: 0px 3px 8px rgba(0,0,0,0.08);
      width: 100%;
      height: 100%;
      padding: 10px;
      text-align: center;
      h3 {
        font-size: 1.6rem;
      }
      p {
        margin-top: 7px;
        color: $color-5;
      }
    }
    @include desktop {
      max-width: 1200px;
      .content {
        text-align: left;
        padding: 20px;
        h3 {
          font-size: 2rem;
        }
        p {

        }
      }
    }
  }
}


.contact {
  .container {
 //   max-width: 700px;
  }
  &-container {
    @include tablet {
      display: table;
    }
  }
  .title {
    font-size: 1.7rem;
    text-align: center;
    font-weight: 600;
    @include tablet {
      display: table-cell;
      font-size: 2.3rem;
      width: 40%;
      text-align: left;
    }
    span {
      color: $color-2;
    }
  }
  &-form {
    margin-top: 30px;
    @include tablet {
      display: table-cell;
    }
    input {
      display: block;
      border-bottom: 2px solid $color-1;
      height: 30px;
      width: 100%;
   //   background-color: #f3f3f3;
      border-radius: 3px;
      margin-top: 10px;
    }
    label {
      font-size: 0.9rem;
    }
    form {
   //   display: table;
      width: 100%;
      >div {
        margin-top: 8px;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
      }
      .fullname,.phone{
        width: 50%;
        display: inline-block;
      }
      .content {
        textarea {
          display: block;
          border-bottom: 2px solid $color-1;
          width: 100%;
          margin-top: 10px;
          min-height: 50px;
        }
      }
      .submit {
      //  float: right;
        height: 60px;
        button {
          float: right;
        }
      }
    }
  }
}
/*
body {
  height: 5000px;
}
#layout {
  position: fixed;
  width: 100%;
}*/
.textlogo {
  position: relative;
  width: max-content;
  margin-top: 40px;
  left: 50%;
  transform: translateX(-50%);
  @include tablet {
    left: auto;
    transform: none;
  }
  h1 {
    font-size: 2.9rem;
    font-weight: 800;
    color: black;
    line-height: 40px;
  }
  label {
    font-size: 0.9rem;
    float: right;
  }
}

footer {
  position: relative;
  .footer-table {
    width: 100%;
    @include tablet {
      display: table;
      >div {
        display: table-cell;
        width: auto;
      }
    }
  }
  @include mobile {
  //  margin-top: 30px;
    .info {
      margin-top: 50px;
      display: inline-block;
    //  margin-right: 10px;
    }
    .links {
      margin-top: 50px;
      float: right;
    //  margin-left: 10px;
    }
  }
  .info-list,.links-list {
    color: black;
    font-weight: 500;
    a {
      text-decoration: none;
      color: black;
    }
    li {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }
  .footer-copyright {
    width: 100%;
    margin-top: 80px;
    background-color: #F6F6F6;
    padding: 10px;
    text-align: center;
    color: black;
    label {
      font-size: 0.8rem;
      margin-top: 5px;
    }
    a {
      color: black;
      text-decoration: underline;
    }
  }
}


#about { // Full page of About
  margin-top: 120px;
  @include tablet {
    .container {
      max-width: 900px;
    }
  }
  .abouterez {
    position: relative;
    &-intro {
      position: relative;
      width: 100%;
    }
    &-image {
   //   margin: 0 auto;
      width: 150px;
      height: 200px;
      background-color: gray;
    }
    &-title {
      position: absolute;
      bottom: 0;
      right: 0;
      &:before {
        content: '';
        width: 110px;
        background-color: $color-2;
        height: 2px;
        display: block;
        position: absolute;
        left: -120px;
        top: 20px;
      }
      h1 {
      //  text-align: center;
        font-size: 2rem;
        font-weight: 600;
        span {
          color: $color-2;
          display: block;
        }
      }
    }
    &-context {
      margin-top: 20px;
    }
    @include tablet {
      &-image {
        height:300px;
        width: 250px;
      }
      &-intro {
        width: 500px;
        margin: 0 auto;
      }
    }
  }

}

#expertise {
  margin-top: 100px;
  @include tablet {
    margin-top: 120px;
  }
  .infoblock {
    text-align: center;

    h1 {
      color: $color-2;
      font-weight: 600;
      font-size: 1.7rem;
      position: relative;
      width: max-content;
      margin: 0 auto;
      &:after {
        content: '';
        width: 50px;
        display: inline-block;
        position: absolute;
        bottom: -5px;
        right: 0;
        height: 2px;
        background-color: $color-2;

      }
    }
    &-p {
      margin-top: 15px;
    }
  }
  .expertises {
    margin-top: 20px;
    @include tablet {
     // display: table;
     max-width: 900px;
     margin: 0 auto;
     margin-top: 50px;
    }
    .expertise {
      @include tablet {
        display: inline-block;
        width: 50%;
        padding: 20px;
        &:hover {
          background-color: #F6F6F6;
        }
      }
      margin-top: 20px;
      &-image {
        width: 60px;
        @include mobile {
          margin: 0 auto;
        }
      }
      &-title {
        margin-top: 8px;
        @include mobile {
          text-align: center;
        }
        
        h2 {
          font-size: 1.1rem;
        font-weight: 600;
        }
      }
      &-paragraph {
        margin-top: 5px;
      }
      &-readmore {
          a {
            margin-top: 5px;
            color: $color-1;
            font-weight: 500;
            text-decoration: none;
          }
      }
    }
  }
}

.expertiseview {
  margin-top: 120px;
  .backbtn {

    position: relative;
    margin-left: 30px;
    a {
      font-size: 0.9rem;
      font-weight: 500;
      color: $color-1;
      text-decoration: none;
    }
    &:before {
      width: 20px;
      height: 1px;
      background-color: $color-1;
      display: block;
      left: -30px;
      top: 10px;
      position: relative;
      content: '';

    }
  }
  .info {
    margin-top: 15px;
    background-color: #F6F6F6;
    width: max-content;
    padding: 10px;
    .info-title {

      * {
        display: inline-block;
      }
      img {
        height: 50px;
      }
      h2 {
        margin-left: 15px;
        font-size: 1.1rem;
        font-weight: 600;
        color: $color-2;
      }
    }
  }
  .context {
    
    margin-top: 40px;
    @include desktop {
      max-width: 620px;
    }
    @include fullhd {
      max-width: 700px;
    }
  }
  .bigimage {
  //  height: 100px;
    img {
      height: 250px;
      @include fullhd {
        height: 300px;
      }
    }
    @include desktop {
      position: absolute;
    right: 0;
    top: 0;
    }
  }
}


