@import "direction_rtl.scss";

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,600,700,800&display=swap');
$family-primary: 'Rubik', sans-serif;
$family-secondary: 'Lato', sans-serif;
@import "main.scss";

body {
    font-size: 17px;
}
.blogslider {
    .buttons {
        float: right;
    }
    .navigation { float:right; }
}

.nav-right_phone {
    a {
        unicode-bidi: bidi-override;
        direction: ltr;
    }
}
.nav-right_menu {
    .menuicon {
        padding: 5px 7px 8px 0px !important;
    }
}

.about-keynav {
    i {
        transform: translateY(-50%) rotate(180deg);
    }
}


.nofloat {
    float: none !important;
}

.poly {
    @media screen { 
        @media (min-width: 0px) {
        @include desktop {
            shape-outside: polygon(154px -39px, 59.95% -38px, -14.89% 28.33%, -10.83% 17.51%) !important;
        }
    } }
}